**[SQL Micro-Course Home Page](https://www.kaggle.com/learn/intro-to-sql)**

---

# Introduction

Try writing some **SELECT** statements of your own to explore a large dataset of air pollution measurements.

Run the cell below to set up the feedback system.

In [1]:
# Set up feedback system
from learntools.core import binder
binder.bind(globals())
from learntools.sql.ex2 import *
print("Setup Complete")

Using Kaggle's public dataset BigQuery integration.
Setup Complete

The code cell below fetches the `global_air_quality` table from the `openaq` dataset.  We also preview the first five rows of the table.

In [2]:
from google.cloud import bigquery

# Create a "Client" object
client = bigquery.Client()

# Construct a reference to the "openaq" dataset
dataset_ref = client.dataset("openaq", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

print("dataset is not null ? : {}".format(dataset != None))

# Construct a reference to the "global_air_quality" table
table_ref = dataset_ref.table("global_air_quality")

# API request - fetch the table
table = client.get_table(table_ref)

# Preview the first five lines of the "global_air_quality" table
client.list_rows(table, max_results=5).to_dataframe()

Using Kaggle's public dataset BigQuery integration.
dataset is not null ? : True

                        location          ...           averaged_over_in_hours
0  BTM Layout, Bengaluru - KSPCB          ...                             0.25
1  BTM Layout, Bengaluru - KSPCB          ...                             0.25
2  BTM Layout, Bengaluru - KSPCB          ...                             0.25
3  BTM Layout, Bengaluru - KSPCB          ...                             0.25
4  BTM Layout, Bengaluru - KSPCB          ...                             0.25

[5 rows x 11 columns]

In [3]:
def get_data(query_string):
    """
    - Set up the query (cancel the query if it would use too much of your quota, with the limit set to 10 GB)
    - Send query to using API request
    - Return pandas dataframe
    
    - @query_string: SQL query
    
    """
    safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)
    # API request - run the query, and return a pandas DataFrame
    query_job = client.query(query_string, job_config=safe_config)
    return query_job.to_dataframe()

# Exercises

### 1) Units of measurement

Which countries have reported pollution levels in units of "ppm"?  In the code cell below, set `first_query` to an SQL query that pulls the appropriate entries from the `country` column.

In case it's useful to see an example query, here's some code from the tutorial:

```
query = """
        SELECT city
        FROM `bigquery-public-data.openaq.global_air_quality`
        WHERE country = 'US'
        """
```

In [4]:
# Query to select countries with units of "ppm"
first_query = """
select country
from `bigquery-public-data.openaq.global_air_quality`
where unit = 'ppm'
"""

first_results = get_data(first_query)
print("Numer of records: {}".format(len(first_results)))

print(first_results.columns)
# View top few rows of results
print(first_results.head())

# Check your answer
q_1.check()

Numer of records: 3474
Index(['country'], dtype='object')
  country
0      US
1      US
2      US
3      US
4      US
You got the right countries. Nice job! Some countries showed up many times in the results. To get each country only once you can run `SELECT DISTINCT country ...`. The DISTINCT keyword ensures each column shows up once, which you'll want in some cases.

Correct

For the solution, uncomment the line below.

In [5]:
#q_1.solution()

### 2) High air quality

Which pollution levels were reported to be exactly 0?  
- Set `zero_pollution_query` to select **all columns** of the rows where the `value` column is 0.
- Set `zero_pollution_results` to a pandas DataFrame containing the query results.

In [6]:
# Query to select all columns where pollution levels are exactly 0
zero_pollution_query = """
select *
from `bigquery-public-data.openaq.global_air_quality`
where value = 0
"""

zero_pollution_results = get_data(zero_pollution_query)

print("Numer of row returned: {}".format(len(zero_pollution_results)))

print(zero_pollution_results.info())

print("First 5 rows")
print(zero_pollution_results.head())

# Check your answer
q_2.check()

Numer of row returned: 925
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 925 entries, 0 to 924
Data columns (total 11 columns):
location                  925 non-null object
city                      925 non-null object
country                   925 non-null object
pollutant                 925 non-null object
value                     925 non-null float64
timestamp                 925 non-null datetime64[ns, UTC]
unit                      925 non-null object
source_name               925 non-null object
latitude                  925 non-null float64
longitude                 925 non-null float64
averaged_over_in_hours    809 non-null float64
dtypes: datetime64[ns, UTC](1), float64(4), object(6)
memory usage: 79.6+ KB
None
First 5 rows
                                        location          ...           averaged_over_in_hours
0                     Victoria Memorial - WBSPCB          ...                             0.25
1  Rabindra Bharati University, Kolkata - WBSPCB          ...                             0.25
2                               Końskie, MOBILNA          ...                              NaN
3                               Końskie, MOBILNA          ...                              NaN
4                                Płock-Gimnazjum          ...                              NaN

[5 rows x 11 columns]

Correct

For the solution, uncomment the line below.

In [7]:
#q_2.solution()

That query wasn't too complicated, and it got the data you want. But these **SELECT** queries don't organizing data in a way that answers the most interesting questions. For that, we'll need the **GROUP BY** command. 

If you know how to use [`groupby()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html) in pandas, this is similar. But BigQuery works quickly with far larger datasets.

Fortunately, that's next.

# Keep going
**[GROUP BY](https://www.kaggle.com/dansbecker/group-by-having-count)** clauses and their extensions give you the power to pull interesting statistics out of data, rather than receiving it in just its raw format.

---
**[SQL Micro-Course Home Page](https://www.kaggle.com/learn/intro-to-sql)**